.container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 420px;
    gap: 15px;
}

.container_smaller_inputs{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.span_required{
    color: red;
    display: inline;
}

@media(max-width: 1200px){
    .form{
        padding-top: 100px;
        gap: 5px;
    }
}
