.container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

.container_smaller_inputs{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.container_smaller_inputs input{
    width: 180px;
}

.btn_submit{
    margin-top: 30px;
}

@media (max-width: 480px) {
    .form{
        align-items: center;
        margin-top: -50px; 
    }

    .container_smaller_inputs input{
        width: 70px;
    }

    .btn_submit{
        width: 310px;
    }
}

@media(max-width: 1200px){
    .form{
        padding-top: 100px;
        gap: 5px;
    }
}
