.container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

.container_smaller_inputs{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.container_smaller_inputs input{
    width: 180px;
}

.btn_submit{
    margin-top: 30px;
}

.cvc_error{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.input_error {
    outline: 2px solid red;
}

@media (max-width: 448px){
    .form{
        margin-top: 30px;
        gap: 5px;
        align-items: center;
    }

    .container_smaller_inputs input{
        width: 70px;
    }

    .btn_submit{
        width: 310px;
    }

    .cvc_error{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}

@media(min-width: 448px) and (max-width: 1220px){
    .form{
        padding-top: 100px;
        gap: 5px;
    }
}
