.container_page{
    display: flex;
    position: relative;
}

.container_card{
    background-color: purple;
    width: 500px;
    height: 100vh;
}

.container_form_page{
    margin: auto;
}

@media(max-width: 1200px){
    .container_page{
        flex-direction: column;
    }

    .container_card{
        width: 100%;
        height: 360px;
    }
}