.container_page{
    display: flex;
    position: relative;
}

.container_card{
    background: linear-gradient(180deg, purple 0%, rgb(95, 4, 95) 50%, rgb(49, 0, 49) 100%);
    width: 500px;
    height: 100vh;
}

.container_form_page{
    margin: auto;
}

.container_finished{
    display: flex;
    position: absolute;
    top: 27%;
    left: 55%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.container_finished h1{
    font-size: 50px;
}

.container_finished p{
    font-size: 30px;
}

.back_button{
    display: flex;
    text-decoration: none;
    background-color: rgb(68, 0, 68);
    color: #fff;
    padding: 15px 100px;
    border-radius: 7px;
    border: none;
    gap: 8px;
}

.back_button:hover{
    opacity: 0.8;
}

@media(max-width: 448px) {
    .container_page{
        flex-direction: column;
    }

    .container_card{
        width: 100%;
        height: 250px;
    }

    .container_form_page{
        padding-top: 60px;
    }

    .container_finished{
        position: initial;
        padding-top: 160px;
        gap: 27px;
    }

    .container_finished h1{
        font-size: 2.3rem;
    }   

    .container_finished p{
        width: 10em;
        text-align: center;
        font-size: 1.5rem;
    } 

    button{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}


@media(min-width: 448px) and (max-width: 768px){
    .container_page{
        flex-direction: column;
    }

    .container_card{
        width: 100%;
        height: 320px;
    }

    .container_finished{
        position: initial;
        padding-top: 150px;
        gap: 27px;
    }

    .container_finished h1{
        font-size: 2.3rem;
    }   

    .container_finished p{
        width: 10em;
        text-align: center;
        font-size: 1.5rem;
    } 

    button{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media(min-width: 768px) and (max-width: 1220px){
    .container_page{
        flex-direction: column;
    }
    
    .container_card{
        width: 100%;
        height: 360px;
    }

    .container_form_page{
        padding-top: 50px;
    }
 
    .container_finished{
        position: initial;
        padding-top: 200px;
        gap: 27px;
    }

    .container_finished h1{
        font-size: 2.6rem;
    }   

    .container_finished p{
        font-size: 1.4rem;
    }  

    .container_form_page{
        margin-top: 20px;
    }

}