.card{
    display: flex;
    background-image: url('assets/bg-card-front.png');
    background-repeat: no-repeat;
    position: absolute;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    top: 23%;
    left: 10%;
    width: 449px;
    height: 250px;
    border-radius: 10px;
}

.container_extras{
    display: flex;
    align-items: center;
    gap: 10px;
    width: 381px;
    margin-top: 30px;
}

.div_extra{
    width: 45px;
    height: 45px;
    background-color: #fff;
    border-radius: 50%;
}

.div_extra2{
    width: 28px;
    height: 28px;
    border: 1px solid #fff;
    border-radius: 50%;
}

.container_number{
    position: absolute;
    top: 52%
}

.container_number h2{
    letter-spacing: 1.5px;
    color: #fff;
}

.infos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 380px;
    height: 30px;
    margin-top: 125px;
}

.infos span{
    color: #fff;
}

.back_card{
    position: absolute;
    background-image: url('assets/bg-card-back.png');
    background-repeat: no-repeat;
    height: 245px;
    width: 450px;
    top: 52%;
    left: 14%;
}

.back_card span{
    display: flex;
    color: #fff;
    position: absolute;
    top: 45%;
    left: 79%;
    align-items: flex-end;
    justify-content: flex-end;
}

@media(max-width: 768px){
    .container{
        margin: auto;
    }

    .card{
        width: 400px;
        border-radius: 15px;
    }

    .container_extras{
        width: 342px;
    }

    .infos{
        width: 340px;
    }

    .back_card{
        background-position: center;
        width: 400px;
        border-radius: 15px;
    }
}

@media(max-width: 1200px){
    .container{
        /* display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; */
    }

    .card{
        z-index: 100;
        top: 23% ;
        left: 18%;
    }

    .back_card{
        top: 4%;
        left: 30%
    }
}