.card{
    display: flex;
    background-image: url('assets/bg-card-front.png');
    background-repeat: no-repeat;
    position: absolute;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    top: 23%;
    left: 10%;
    width: 449px;
    height: 250px;
    border-radius: 10px;
}

.container_extras{
    display: flex;
    align-items: center;
    gap: 10px;
    width: 381px;
    margin-top: 30px;
}

.div_extra{
    width: 45px;
    height: 45px;
    background-color: #fff;
    border-radius: 50%;
}

.div_extra2{
    width: 28px;
    height: 28px;
    border: 1px solid #fff;
    border-radius: 50%;
}

.container_number{
    position: absolute;
    top: 52%
}

.container_number h2{
    letter-spacing: 1.5px;
    color: #fff;
}

.infos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 380px;
    height: 30px;
    margin-top: 125px;
}

.infos span{
    color: #fff;
}

.back_card{
    position: absolute;
    background-image: url('assets/bg-card-back.png');
    background-repeat: no-repeat;
    height: 245px;
    width: 450px;
    top: 52%;
    left: 14%;
}

.back_card span{
    display: flex;
    color: #fff;
    position: absolute;
    top: 45%;
    left: 79%;
    align-items: flex-end;
    justify-content: flex-end;
}

@media(max-width: 448px) {
    .container{
        position: fixed;
        top: 15%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 450px;
    }

    .card{
        width: 290px;
        background-size: contain;
        background-position: center;
        z-index: 100;
    }

    .back_card{
        margin-top: -100px;
        width: 290px;
        background-size: contain;
        background-position: center;
        left: 25%
    }

    .container_extras{
        width: 260px;
        margin-top: 60px;
    } 

    .div_extra{
        width: 30px;
        height: 30px;
    }
    
    .div_extra2{
        width: 20px;
        height: 20px;
    }

    h2{
        font-size: 1.3rem;
    }

    .infos{
        width: 260px;
        margin-top: 80px;
    }

    .infos span{
        font-size: 0.9em;
    }
} 

@media (min-width: 448px) and (max-width: 768px){
    .container{
        position: fixed;
        top: 15%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 540px;
    }

    .card{
        width: 350px;
        background-size: contain;
        background-position: center;
        z-index: 100;
    }

    .back_card{
        margin-top: -120px;
        width: 350px;
        background-size: contain;
        background-position: center;
        left: 25%
    }

    .container_extras{
        width: 310px;
        margin-top: 45px;
    } 

    .div_extra{
        width: 35px;
        height: 35px;
    }
    
    .div_extra2{
        width: 25px;
        height: 25px;
    }

    .infos{
        width: 310px;
        margin-top: 100px;
    }
}

@media(min-width: 768px) and (max-width: 1220px){
    .card{
        z-index: 100;
        top: 23% ;
        left: 18%;
    }

    .back_card{
        top: 5%;
        left: 30%
    }
}
