.text_field{
    margin-top: 20px;
}

input{
    padding: 10px;
    border-radius: 7px;
    width: 420px;
    border: none;
    border: 1px solid #00000025;
}

@media(max-width: 448px){
    input{
        width: 310px;
    } 
}
