body {
  padding: 0;
  margin: 0;
  font-family: 'Space Grotesk', sans-serif;
}

label{
  display: flex;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 30px;
  color: rgba(15, 0, 15, 0.836);
}

button{
  background-color: rgb(68, 0, 68);
  color: #fff;
  padding: 15px;
  border-radius: 7px;
  border: none;
}

button:hover{
  opacity: 0.8;
}

